body {
	background:url(../images/bg-body.jpg);
	margin:0;
	display:flex;
	flex-direction: column;
	align-items: center;
}

#contenu {
	width:65%;
	min-height:750px;
	height:auto;
	display:flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
}


#descr {
	width:70%;
	height:auto;
}

img {
	width:75%;
}

h1 {
	font-weight: normal;
	color: #919191;
	font-family:Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 40px;
}

p {
	font-family: 'Conv_Muli-Italic';
	font-size:16px;
	line-height:24px;
	color:#808080;
}

@media only screen and (max-device-width:800px) {
	#contenu {
		width:100%;
		min-height:none;
	}
	#descr {
		width:95%;
	}
	img {
		width:100%;
	}
	h1 {
		font-size: 30px;
	}
	p {
		font-size:16px;
	}
